altgraph==0.17.4
bcrypt==4.1.2
et-xmlfile==1.1.0
ez_setup==0.9
greenlet==3.0.3
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.2.1
numpy==1.26.3
openpyxl==3.1.2
packaging==23.2
pandas==2.2.0
pathlib==1.0.1
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
PySide6==6.6.1
PySide6-Addons==6.6.1
PySide6-Essentials==6.6.1
python-dateutil==2.8.2
pytz==2023.3.post1
setuptools-git-version==1.0.3
shiboken6==6.6.1
simple-dotenv==0.1.4
six==1.16.0
SQLAlchemy==2.0.25
typing_extensions==4.9.0
tzdata==2023.4
